# -----------------------------
# Python
# -----------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.pytest_cache/
.mypy_cache/

# -----------------------------
# Virtual Environment
# -----------------------------
.venv/
venv/
env/
backend/.venv/

# -----------------------------
# Environment Variables
# -----------------------------
.env
.env.*

# -----------------------------
# SQLite
# -----------------------------
*.db-journal
*.sqlite
*.sqlite3

# Uncomment the next line if you DON'T want to upload your demo database
# backend/sentinelsoc.db

# -----------------------------
# Node
# -----------------------------
node_modules/
npm-debug.log*
yarn-error.log*
pnpm-lock.yaml

# -----------------------------
# Build
# -----------------------------
dist/
build/

# -----------------------------
# IDE
# -----------------------------
.vscode/
.idea/
*.swp
*.swo

# -----------------------------
# OS
# -----------------------------
.DS_Store
Thumbs.db
desktop.ini

# -----------------------------
# Logs
# -----------------------------
*.log

# -----------------------------
# Coverage
# -----------------------------
coverage/